.filters {
  display: flex;
  justify-content: space-between;
  padding: 0 0 1em 0;
}

.filters .filters__category:first-child {
  flex-grow: 3;
}

.filters .filters__category:last-child {
  flex-grow: 1;
}

@media (max-width: 760px) {
  .filters {
    flex-direction: column;
  }
}

.filters__category {
  padding: 1em;
  box-shadow:
    inset -1px 0 0 0 #e8e8e8,
    inset 0 -1px 0 0 #e8e8e8,
    -1px -1px 0 0 #e8e8e8,
    -1px 0 0 0 #e8e8e8,
    0 -1px 0 0#e8e8e8;
}

.filter__display {
  display: inline-block;
  padding: 0.5em;
  border: 2px solid #004F44;
  width: 4em;
  text-align: center;
}

.filter__wrapper {
  display: flex;
  align-items: center;
  gap: 1em 2em;
  padding: 0 0 1em 0;
}

@media (max-width: 425px) {
  .filter__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .filter__display {
    order: -1;
  }
}

.filter__title {
  padding: 0 0 0.5em 0;
}

.reset-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 0 1em 0;
}

@media (max-width: 425px) {
  .reset-buttons {
    flex-direction: column;
    gap: 1em;
  }
}

.reset-filters,
.reset-all {
  padding: 1em;
  font-size: 1em;
  color: white;
}

.reset-all {
  background-color: #770404;
}

.reset-filters {
  background-color: #004F44;
}