@font-face {
  font-family: 'Steppe';
  src: url('./assets/fonts/Steppe.woff2') format('woff2'), /* Modern Browsers */
       url('./assets/fonts/Steppe.otf') format('opentype'); /* Safari, Android, iOS */
          font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

:root {
  --height-header: 100px;
  --height-footer: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Steppe';
  background-color: white;
}

.button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  width: 1400px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--height-header);
}

.header {
  background-color: #004F44;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.header__img {
  width: 70px;
  height: 70px;
  background-image: url(./assets/icons/guitar-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.header__title {
  color: white;
}

.header__cart {
  width: 50px;
  height: 50px;
  background-image: url(./assets/icons/cart.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.content {
  min-height: calc(100vh - var(--height-header) - var(--height-footer));
}

.search__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: 100px;
}

.search {
  background-color: #F3FFFC;
}

.search__settings,
.search__button {
  width: 50px;
  height: 50px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.search__settings {
  border: 2px solid #004F44;
  background-image: url(./assets/icons/settings-searsh.png);
}

.search__field {
  flex-grow: 1;
  border: 2px solid #004F44;
  padding: 0 20px;
  height: 50px;
  font-family: 'Steppe';
  color: #004F44;
  font-size: 1.5em;
}

.search__field::placeholder {
  font-family: 'Steppe';
  color: #004F44;
}

.search__button {
  background-image: url(./assets/icons/searsh.png);
  background-color: #004F44;
}

.products__container {
  padding-top: 2em;
}

.products__title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 1em 0;
}

.products__title {
  display: inline-block;
  padding: 0 1rem;
  font-size: 2.5em;
  text-align: center;
  color: #004F44;
  background-color: white;
}

.products__title-container::before {
  position: absolute;
  content: '';
  top: calc(50% - 3px);
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #004F44;
  z-index: -1;
}

.products__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2em 0;
}

.products__item {
  display: flex;
  padding: 2em 1em;
  box-shadow:
    inset -1px 0 0 0 #e8e8e8,
    inset 0 -1px 0 0 #e8e8e8,
    -1px -1px 0 0 #e8e8e8,
    -1px 0 0 0 #e8e8e8,
    0 -1px 0 0 #e8e8e8;
  width: calc(100% / 3);
}

.products__item-image {
  width: 30%;
  object-fit: contain;
}

.products__item-title {
  margin: 0 0 0.7em 0;
}

.products__item-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1em;
  word-break: break-all;
  overflow: hidden;
}

.products__item-features {
  flex-grow: 1;
  margin: 0 0 1em 0;
  list-style: none;
}

.products__item-features li {
  margin: 0 0 0.3em 0;
  color: rgba(0, 0, 0, 0.733);
}

.products__item-features li span {
  color: black
}

.add-to-cart-button {
  margin: 0 0 0 auto;
  padding: 0.7em 1em;
  font-size: 1em;
  color: white;
  background-color: #004F44;
}

.footer {
  background-color: #004F44;
}

.footer__container {
  display: flex;
  align-items: center;
  height: var(--height-footer);
}

.course-link {
  display: flex;
  padding: 0 0.6em;
  margin: 0 1em 0 0;
  border-radius: 10px;
  background-color: white;
}

.website-author {
  color: white;
}